<div
  class="grid grid-nogutter align-items-center justify-content-center min-h-screen min-w-screen p-3"
>
  <div class="grid col-12 sm:col-10 md:col-10 lg:col-10">
    <home-card
      class="col-12 sm:col-12 md:col-6 lg:col-3"
      [item]="items[0]"
      [index]="0"
    ></home-card>
    <home-card
      class="col-12 sm:col-12 md:col-6 lg:col-3"
      [item]="items[1]"
      [index]="1"
    ></home-card>
    <home-card
      class="col-12 sm:col-12 md:col-6 lg:col-3"
      [item]="items[2]"
      [index]="2"
    ></home-card>
    <home-card
      class="col-12 sm:col-12 md:col-6 lg:col-3"
      [item]="items[3]"
      [index]="3"
    ></home-card>
  </div>
</div>
