.todo-card {
    width: 400px;
    max-width: 400px;
    background-color: #1c1c1e;
    color: white;
    border-radius: 12px;
}

.p-card-header {
    background: linear-gradient(135deg, #f21368, #9110d6);
    padding: 1rem;
    border-radius: 12px 12px 0 0;
}

.todo-item {
    background-color: #3a3a3c;
    border-radius: 6px;
}