<div class="p-card todo-card m-2">
    <div class="p-card-header">
        <h2>Todo List</h2>
    </div>
    <div class="p-card-body">
        <div *ngFor="let todo of todos; let i = index">
            <todo-tile (onDeleteClicked)="deleteTodo(i)"
                (onUpdateClicked)="updateTodo($event.index, $event.isCompleted)" [todo]="todo" [i]="i"></todo-tile>
        </div>
    </div>
    <div class="p-2">
        <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="inputValue" placeholder="Add new todo..." />
            <button pButton icon="pi pi-plus" class="p-button p-button-info" (click)="createTodo()"></button>
        </div>
    </div>
</div>