<div
  class="grid justify-content-center align-items-center min-h-screen min-w-screen"
>
  <div class="col-12 sm:col-12 md:col-8 lg:col-6">
    <p-card
      header="Todo List"
      styleClass="text-center custom-card shadow-3 select-none m-2 border-round-lg"
    >
      <div
        class="text-left p-2 overflow-y-scroll scroll"
        style="max-height: 400px"
      >
        <div *ngFor="let todo of todos; let i = index">
          <todo-tile
            (onDeleteClicked)="deleteTodo(i)"
            (onUpdateClicked)="updateTodo($event.index, $event.isCompleted)"
            [todo]="todo"
            [i]="i"
          ></todo-tile>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            [(ngModel)]="inputValue"
            placeholder="Add new todo..."
          />
          <button
            pButton
            icon="pi pi-plus"
            class="p-button p-button-primary"
            (click)="createTodo()"
          ></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
