<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
        <label for="username">Kullanıcı Adı</label>
        <input id="username" pInputText [(ngModel)]="username" name="username" required />
    </div>

    <div class="p-field p-col-12">
        <label for="password">Şifre</label>
        <input id="password" pPassword [(ngModel)]="password" name="password" required />
    </div>

    <div class="p-field p-col-12">
        <button pButton type="button" label="Giriş Yap" icon="pi pi-sign-in" (click)="login()"></button>
    </div>
</div>
<p-toast></p-toast>