<div class="p-card border-round-lg shadow-3 p-3 select-none">
  <city-info-label></city-info-label>
  <city-current-label></city-current-label>
  <div class="grid grid-nogutter flex justify-content-between">
    <div class="grid grid-nogutter col-6">
      <city-condition-label class="col-12"></city-condition-label>
      <city-condition-label class="col-12"></city-condition-label>
      <city-condition-label class="col-12"></city-condition-label>
    </div>
    <div
      class="flex align-items-center align-self-center justify-content-end text-center col-6"
    >
      <city-condition-image class="flex"></city-condition-image>
    </div>
  </div>
</div>
