<div
  class="grid justify-content-center align-items-center min-h-screen min-w-screen"
>
  <div class="col-12 sm:col-12 md:col-8 lg:col-6">
    <p-card
      header="Random Quotes"
      styleClass="text-center custom-card shadow-3 select-none border-round-lg"
    >
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        class="mb-2 w-full"
        [autoResize]="true"
        [(ngModel)]="quote"
      ></textarea>
      <div class="grid flex gap-1 mx-0">
        <button
          pButton
          icon="pi pi-refresh"
          class="w-full p-button p-button-danger col-12 sm:col-12 md:col lg:col"
          (click)="getQuote()"
        ></button>
        <button
          pButton
          icon="pi pi-twitter"
          class="w-full p-button p-button-contrast col-12 sm:col-12 md:col lg:col"
          (click)="shareQuote()"
        ></button>
      </div>
    </p-card>
  </div>
</div>
