<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
        <label for="username">Kullanıcı Adı</label>
        <input id="username" pInputText [(ngModel)]="user.username" name="username" required />
    </div>

    <div class="p-field p-col-12">
        <label for="email">Email</label>
        <input id="email" pInputText [(ngModel)]="user.email" name="email" required />
    </div>

    <div class="p-field p-col-12">
        <label for="password">Şifre</label>
        <input id="password" pPassword [(ngModel)]="user.password" name="password" required />
    </div>

    <div class="p-field p-col-12">
        <button pButton type="button" label="Kayıt Ol" icon="pi pi-user-plus" (click)="register()"></button>
    </div>
</div>
<p-toast></p-toast>