<div
  class="grid grid-nogutter p-3 min-w-screen min-h-screen align-content-center justify-content-center overflow-hidden"
>
  <div
    class="grid grid-nogutter flex m-0 h-full col-12 sm:col-12 md:col-12 lg:col-9 gap-2"
  >
    <div class="col-12 sm:col-12 md:col lg:col">
      <weather-main-card></weather-main-card>
    </div>
    <div class="col-12 sm:col-12 md:col lg:col">
      <div class="grid grid-nogutter gap-2">
        <div class="col-12">
          <div class="grid grid-nogutter gap-2">
            <weather-city-card
              class="col-12 sm:col-12 md:col lg:col"
            ></weather-city-card>
            <weather-city-card
              class="col-12 sm:col-12 md:col lg:col"
            ></weather-city-card>
          </div>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter gap-2">
            <weather-city-card
              class="col-12 sm:col-12 md:col lg:col"
            ></weather-city-card>
            <weather-city-card
              class="col-12 sm:col-12 md:col lg:col"
            ></weather-city-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
